.custom-notes-btns-container {
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap-reverse;
    display: none !important;
}

.custom-notes-additional-btns {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.custom-add-note-btns.active {
    height: 90px;
}

.custom-add-note-btns {
    height: 0;
    overflow: hidden;
    transition: height 0.5s;
}

.custom-add-note-btns-container {
    display: flex;
    flex-direction: column-reverse;
}

.custom-script-use-notes .fullscreen-mode .wnl-comments,
.custom-script-use-notes .wnl-lesson-previous-next-nav {
    z-index: 12 !important;
}

.custom-notes-btns-container .wnl-rounded-button {
    color: black !important;
}

.slideshow-container.fullscreen .custom-notes-btns-container {
    margin-left: 70px;
}

.custom-script-notes-column {
    &:empty {
        display: none;
    }

    .custom-note {
        display: flex;
        align-content: space-between;
        flex-direction: row;
        padding: 5px;
        margin: 5px;
        border-radius: 5px;
        background: white;

        .custom-note-move {
            display: none;
        }

        .custom-note-remove {
            color: black;
            margin-right: 0;
            margin-left: auto;
        }
    }
}


.custom-notes-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;

    .custom-note {
        font-size: 1.6rem !important;
        background: #feffcc;
        position: absolute;
        border: solid 2px #b1b18e;
        padding: 0.5rem 35px 0.5rem 0.5rem !important;
        border-radius: 0.5rem 0.5rem 1.5rem 0.5rem;
        box-shadow: 2px 1px 2px 2px #72725c57;
        min-width: 7rem;
        max-width: 25%;
        max-height: 30%;
        z-index: 11;
        min-height: 70px;
        overflow-y: auto;
    }
}

@mixin note {
    @content;

    form {
        display: none;
    }

    textarea,
    input {
        appearance: none;
        border: none;
        width: 100% !important;
        height: 100% !important;
        background: none;
    }

    a.custom-note-move {
        bottom: 12px;
        cursor: move;
    }

    .custom-note-content {
        text-align: left;
    }

    &.editing {
        form {
            display: block;
        }

        .custom-tag-content, .custom-note-content {
            display: none;
        }
    }
}

.custom-note {
    @include note{}
}

.custom-tag {
    @include note{}
}

.custom-tag input[type=color] {
    display: none; 
}

.custom-notes-overlay a.custom-note-remove {
    top: 0;
}


.custom-notes-overlay a.custom-note-remove,
a.custom-note-move {
    position: absolute !important;
    right: 4px;
    color: black !important;
    width: 25px;
    height: 25px;
    transition: color 0.5s;
}

.custom-notes-overlay a.custom-note-remove svg,
a.custom-note-move svg {
    width: 25px;
    height: 25px;
}

a.custom-note-remove:hover {
    color: red !important;
}

div.custom-tags-container:hover {
    opacity: 1;
}

.custom-tags-and-btns-container {
    left: 5px;
    position: absolute;
    bottom: 5px;
    z-index: 11;
    display: flex;
    flex-direction: column;
    max-width: 25%;
}

div.custom-tags-container {
    z-index: 11;
    flex-wrap: wrap-reverse;
    opacity: 0.5;
    transition: opacity 0.4s;
    display: none;
    gap: 3px 5px;
}

.custom-tag.custom-new-tag {
    color: #95b9f9;
    background: none;
    align-items: center;
}

.custom-tag {
    border-radius: 5px;
    padding: 2px 5px;
    display: flex;
    font-size: 12px;
    max-width: 70px;
    height: 25px;
    overflow: hidden;
    align-content: space-between;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
}

.custom-tag-content {
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
}

div.custom-tag .custom-remove,
div.custom-tag .custom-change-color {
    display: inline-block;
    text-align: right;
    cursor: pointer;
    width: 0;
    overflow: hidden;
    transition: width 0.5s, color 0.5s;
    color: inherit;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
}

div.custom-tag .custom-remove:hover {
    color: #870000;
}

div.custom-tag .custom-remove svg,
div.custom-tag .custom-change-color svg {
    width: 13px;
    height: 13px;
}

div.custom-tag:not(.editing):hover .custom-remove,
div.custom-tag:not(.editing):hover .custom-change-color {
    width: 16px;
}

.custom-notes-btns-container.custom-no-notes .custom-clear-notes-btn,
.custom-notes-btns-container.custom-no-notes .custom-notes-view-type-btn,
.inactive.custom-notes-additional-btns>.wnl-rounded-button {
    width: 0;
    margin: 5px 0;
}

.custom-new-tag.custom-tag:only-child {
    display: none;
}

.custom-script-use-notes.custom-script-notes-visible .custom-notes-overlay {
    display: block !important;
}

.custom-script-use-notes .custom-notes-btns-container,
.custom-script-use-notes.custom-script-tags-visible div.custom-tags-container {
    display: flex !important;
}

@media screen and (max-width: 980px) {

    .custom-notes-view-btn,
    .custom-tags-view-btn {
        display: none !important;
    }

    div.custom-tag:not(.editing) .custom-remove,
    div.custom-tag:not(.editing) .custom-change-color {
        width: 16px;
    }

}